services:
  postgres:
    image: 'postgres:16'
    environment:
      - 'POSTGRES_DB=student_management'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
